#popbg {
display:none;
background:rgba(0,0,0,0.7);
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index:99999;
}

#popupclx {
width:100%;
height:100%;
}

#popupbx {
background:#FFF;
border:3px solid #e7580a;
width:300px;
height:200px;
position:absolute;
top:58%;
left:63%;
box-shadow:0 0 10px 1px #888;
margin:-220px 0 0 -375px;
  padding:5px;
}

#popupcx {
float:right;
cursor:pointer;
background:url(//lh3.googleusercontent.com/-Wn2zYsqncvY/VCqjkSR8EKI/AAAAAAAADAo/xvqAyme0VRA/s45-no/close_button.png) no-repeat;
height:15px;
position:relative;
margin-top:-23px;
margin-right:-36px;
padding:20px 40px 20px 20px;
}

#blnk a.visited,#blnk a,#blnk a:hover {
color:#80808B;
font-size:10px;
float:center;
margin:0 auto 5px;
}
